:root {
  --color-bg: hsl(0, 0%, 100%);
  --color-text: hsl(222.4, 15.3%, 21.8%);
  --color-link: hsl(240, 100%, 50%);
  --color-primary: hsl(9.8, 79.7%, 59.4%);
  --color-secondary: hsl(221, 25.3%, 14.7%);

  --font-family: system-ui, sans-serif;

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;

  --width-content: 80ch;
  --width-full: 100ch;
}

/* RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* LAYOUT */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

body > header,
body > footer {
  padding: var(--space-m);
}

.header,
.footer {
  max-width: var(--width-full);
  margin: 0 auto;
}

h1,
.content,
.related {
  max-width: var(--width-content);
  margin: 0 auto;
}

h1 {
  padding: var(--space-m);
}

.content,
.related {
  padding: var(--space-l) var(--space-m);
}

.content > *:first-child {
  margin-top: 0;
}

figure {
  margin: var(--space-m) var(--space-s);
}

/* COLORS AND TYPOGRAPHY */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
}

body > footer {
  background-color: var(--color-secondary);
  color: var(--color-bg);
  text-align: center;
}

p,
li {
  line-height: 1.5;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-primary);
}

h1,
h2 {
  font-weight: normal;
}

h1 {
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: 3em;
  text-align: center;
}

h2,
h3,
summary {
  color: var(--color-primary);
}

h2 small {
  color: var(--color-text);
  font-style: italic;
}

figcaption {
  margin-top: var(--space-s);
  text-align: center;
}

figcaption a {
  text-decoration: none;
}

small {
  font-size: 75%;
}

svg {
  fill: var(--color-text);
}

/* IMAGES */

main img {
  content-visibility: auto;
}

/* NAVBARS */

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
}

nav > a {
  flex-grow: 1;
  margin-right: 1.5em;
}

nav ul {
  --item-height: 2.5rem;

  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: max-content;
  height: var(--item-height);
  padding: var(--space-xs) var(--space-s);
  font-weight: bold;
  text-transform: uppercase;
}

nav li:hover,
nav li.active {
  background-color: var(--color-primary);
}

nav li ul {
  display: none;
  position: absolute;
  z-index: 2;
  top: var(--item-height);
  left: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  white-space: nowrap;
}

nav li:hover ul {
  display: unset;
}

nav li:hover,
nav li.active,
nav li:hover a,
nav li.active a {
  color: var(--color-bg);
}

nav li li {
  display: flex;
  font-size: 90%;
  font-weight: normal;
  text-transform: none;
}

nav li li:hover {
  background-color: transparent;
}

nav li li a:hover {
  color: var(--color-primary);
}

/* CAROUSEL */

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.banner {
  line-height: 0;
}

.banner img {
  aspect-ratio: 1.75;
  object-fit: cover;
}

.banner .title {
  position: absolute;
  bottom: var(--space-s);
  width: 100%;
  padding: var(--space-s) var(--space-m);
  color: hsl(0, 0%, 90%);
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* CUSTOM */

.alternatives {
  margin-top: var(--space-s);
  font-size: 80%;
  text-align: right;
}

.alternatives ul {
  margin: 0;
}

.alternatives li {
  display: inline;
}

.alternatives li + li {
  margin-left: var(--space-s);
}

.social a {
  padding: var(--space-s) var(--space-xs);
  text-decoration: none;
}

.callout {
  color: var(--color-primary);
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
}

.sign {
  font-style: italic;
  text-align: right;
}

.sign p::before {
  content: "— ";
}

.sign p {
  margin: 0;
}

.related h3,
.related p {
  margin: var(--space-s);
}

.related p,
.blog .post {
  font-size: 90%;
}

.instructor h2 {
  margin: 0;
}

.testimonials,
.blog {
  max-width: var(--width-full);
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: '\201c';
  color: var(--color-primary);
  font-size: 5em;
}

blockquote > *:first-child {
  margin-top: -3em;
}

.dances,
.lessons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dance,
.lesson {
  width: 45%;
}

.dance a,
.lesson a {
  color: var(--color-primary);
  font-size: 1.2em;
  text-transform: uppercase;
}

.dance img,
.lesson img {
  border: 1px solid currentColor;
  border-radius: 50%;
}

.post img {
  width: 100%;
}

.post .meta {
  display: none;
}

/* FORMS */

label {
  display: block;
  margin-bottom: var(--space-xs);
}

input,
textarea {
  width: 100%;
  padding: var(--space-s) var(--space-s);
}

button {
  margin-top: var(--space-m);
  padding: var(--space-s) var(--space-s);
}

.field {
  margin-top: var(--space-m);
}

.buttons {
  text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 36rem) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    text-align: right;
  }

  .related article {
    width: 48%;
  }

  .banner img {
    aspect-ratio: 2.5;
  }

  .instructor {
    display: flex;
    justify-content: space-between;
  }

  .instructor div {
    width: 45%;
  }

  .testimonials,
  .blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .testimonial,
  .blog .post {
    width: 45%;
  }

  .dance,
  .lesson {
    width: 30%;
  }

  .related {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(0, 0%, 7%);
    --color-text: hsl(0, 0%, 93%);
    --color-secondary: hsl(221, 25.3%, 80%);
    --color-link: hsl(200, 90%, 70%);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
