/* FONTS */

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts/JosefinSans-Regular.woff2") format("woff2"),
    url("fonts/JosefinSans-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("fonts/JosefinSans-Bold.woff2") format("woff2"),
    url("fonts/JosefinSans-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 400;
  src:
    url("fonts/JosefinSans-Italic.woff2") format("woff2"),
    url("fonts/JosefinSans-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 700;
  src:
    url("fonts/JosefinSans-BoldItalic.woff2") format("woff2"),
    url("fonts/JosefinSans-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: local("Verdana");
  size-adjust: 88.88889%;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts/CormorantGaramond-Regular.woff2") format("woff2"),
    url("fonts/CormorantGaramond-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src:
    url("fonts/CormorantGaramond-Bold.woff2") format("woff2"),
    url("fonts/CormorantGaramond-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 400;
  src:
    url("fonts/CormorantGaramond-Italic.woff2") format("woff2"),
    url("fonts/CormorantGaramond-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 700;
  src:
    url("fonts/CormorantGaramond-BoldItalic.woff2") format("woff2"),
    url("fonts/CormorantGaramond-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia");
  size-adjust: 88.88889%;
}

body {
  font-family: "Josefin Sans", "Verdana", sans-serif;
  font-size: 1.125rem;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", "Georgia", serif;
}

/* VARIABLES */

:root {
  --primary-h: 10;
  --primary-s: 79.7%;
  --primary-l: 59.4%;
  --color-primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));

  --bg-h: 221;
  --bg-s: 25.3%;
  --bg-l: 14.7%;
  --color-bg: hsl(var(--bg-h), var(--bg-s), var(--bg-l));

  --text-l: 93%;
  --color-text: hsl(0, 0%, var(--text-l));

  --color-link: hsl(200, 90%, 70%);

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;

  --font-shrink: 85%;

  --content-width-large: 100ch;
  --content-width-narrow: 65ch;

  --logo-height: 3.5rem;
  --header-height: calc(var(--logo-height) + 3 * var(--space-m) + 1rem);
  --h1-size: clamp(2rem, 8vw, 3.2rem);
  --title-height: calc(var(--h1-size) + 2 * var(--space-s) + var(--space-m));
}

/* BASICS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: var(--color-link);
  text-underline-offset: var(--space-xs);
}

img {
  max-width: 100%;
  height: auto;
  font-style: italic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input,
textarea,
select,
button {
  background-color: inherit;
  color: inherit;
  font: inherit;
}

/* HEADER AND FOOTER */

body > header,
body > footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m) var(--space-xl);
  padding: var(--space-m) max(var(--space-m), calc(50% - 0.5 * var(--content-width-large)));
  font-size: var(--font-shrink);
}

body > footer {
  background-image:
    linear-gradient(
      to right,
      var(--color-bg),
      hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) + 15%)),
      var(--color-bg)
    );
}

#logo {
  display: block;
  height: var(--logo-height);
}

#logo svg {
  width: auto;
  height: 100%;
}

#logo path {
  fill: var(--color-text);
}

.social a {
  text-decoration: none;
}

.copyright {
  text-align: center;
}

/* NAVBAR */

nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding: var(--space-s);
}

#main-nav a {
  color: inherit;
  text-decoration: none;
}

#main-nav > ul > li {
  --item-height: 2.2rem;

  position: relative;
  height: var(--item-height);
  padding-inline: var(--space-m);
}

#main-nav > ul > li:is(:hover, :focus-within, .active)::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skew(-10deg);
  background-color: var(--color-primary);
}

#main-nav > ul > li > :is(a, span) {
  font-weight: 700;
  text-transform: uppercase;
}

#main-nav > ul > li > ul {
  display: none;
  position: absolute;
  z-index: 2;
  inset-block-start: var(--item-height);
  inset-inline-start: 0;
  background-color: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) + 10%));
  white-space: nowrap;
}

#main-nav > ul > li:is(:hover, :focus-within) > ul {
  display: block;
}

#main-nav > ul > li > ul a {
  display: block;
  color: hsl(0, 0%, calc(var(--text-l) - 10%));
  font-size: var(--font-shrink);
}

#main-nav > ul > li > ul > li:hover {
  background-color: hsl(var(--primary-h), calc(var(--primary-s) - 20%), var(--primary-l));
}

#lang-nav {
  flex-basis: 100%;
  font-size: var(--font-shrink);
  line-height: 0;
  text-align: end;
}

/* SLIDES */

.slides {
  display: flex;
  animation-name: next_slide;
  animation-duration: calc(var(--n-slides, 1) * 5s);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.slides:hover {
  animation-play-state: paused;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  background-color: var(--color-primary);
  clip-path: polygon(0 max(5%, 1rem), 0 100%, 100% 100%, 100% 0);
}

.slide img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  clip-path: polygon(0 0, 0 100%, 100% 95%, 100% 0);
}

.slide .text {
  position: absolute;
  inset-block-end: 0;
  inline-size: 100%;
  padding: var(--space-m);
  background-color: hsl(0, 0%, 15%, 80%);
  font-size: min(4vw, 1.6em);
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}

.slide :where(.prev, .next) {
  --size: max(6vw, 3rem);

  position: absolute;
  z-index: 1;
  inset-block-start: calc(50% - 0.5 * var(--size));
  block-size: var(--size);
  inline-size: var(--size);
  margin: var(--space-m);
  border-radius: 25%;
  background-color: hsl(0, 0%, 20%, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(0.6 * var(--size)) calc(0.6 * var(--size));
  font-size: 0;
}

.slide .prev {
  inset-inline-start: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23ccc'/%3E%3C/svg%3E");
}

.slide .next {
  inset-inline-end: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23ccc'/%3E%3C/svg%3E");
}

/* MAIN */

main {
  overflow-x: clip;
}

h1 {
  display: grid;
  place-content: center;
  min-block-size: var(--title-height);
  margin: 0 auto;
  padding: var(--space-s) var(--space-m);
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: var(--h1-size);
  text-align: center;
}

h2,
h3,
summary {
  color: var(--color-primary);
}

figure {
  margin: 0;
}

figcaption {
  margin-block-start: var(--space-s);
  font-size: var(--font-shrink);
  text-align: center;
  text-transform: uppercase;
}

.content,
.related {
  --width-content: var(--content-width-narrow);

  max-width: var(--width-content);
  margin: 0 auto;
  padding: var(--space-l) var(--space-m);
}

.related {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--space-l) var(--space-m);
}

.related article {
  inline-size: calc(50% - 0.5 * var(--space-m));
}

.related img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.related p {
  font-size: var(--font-shrink);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--space-m);
}

.card {
  width: max(8rem, 30%);
}

.card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 1px solid var(--color-primary);
  border-radius: var(--space-m);
}

.callout {
  color: var(--color-primary);
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}

.role {
  font-size: var(--font-shrink);
  font-style: italic;
}

.sign {
  font-style: italic;
  text-align: end;
}

.sign::before {
  content: "— ";
}

.pagination {
  margin-block-start: var(--space-l);
  font-size: var(--font-shrink);
  text-align: center;
  text-transform: lowercase;
}

/* SPECIAL RULES */

main.landing {
  --title-height: 0rem;
}

main.landing .slide img {
  clip-path: none;
}

main:is(.testimonials, .events, .past-events, .blog) .content {
  --width-content: var(--content-width-large);
}

article.current-events {
  min-inline-size: 12rem;
  padding: var(--space-xs) var(--space-m);
  border-radius: var(--space-m);
  background-color: hsl(0, 0%, calc(var(--text-l) - 60%));
}

article.current-events h3 {
  font: inherit;
  text-align: end;
}

dd + dt {
  margin-block-start: var(--space-s);
}

.instructor {
  display: flow-root;
}

.instructor h2 {
  margin-block: var(--space-s);
}

.instructor img {
  width: 50%;
  margin-block-end: var(--space-s);
  margin-inline-end: var(--space-m);
  float: inline-start;
  aspect-ratio: 3/4;
  object-fit: cover;
}

:is(.testimonials, .blog) .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-m) var(--space-l);
}

.testimonial {
  margin: var(--space-s) var(--space-m);
}

.testimonial:before {
  content: "\201c";
  display: block;
  block-size: 0.4em;
  color: var(--color-primary);
  font-size: 5em;
}

.outer {
  position: relative;
}

.outer::before {
  content: "";
  position: absolute;
  inset: 0;
  block-size: 100%;
  inline-size: 100%;
  background-position: 60%;
  background-size: cover;
  filter: opacity(20%);
}

.outer .content {
  max-width: calc(0.6 * var(--width-content));
  margin-inline-start: max(calc(100% - 0.5 * var(--content-width-large)), 50%);
  background-color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 20%), 0.85);
}

.events .event-listing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-m);
}

.past-events .event-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--space-l);
}

.past-events .event-listing .event {
  width: max(8rem, 20%);
}

.event-listing img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: var(--space-s);
}

.event .intro {
  display: flow-root;
}

.event .intro img {
  width: 50%;
  margin-block-end: var(--space-s);
  margin-inline-end: var(--space-m);
  float: inline-start;
}

.events footer {
  margin-block: var(--space-l);
  text-align: end;
}

.blog-post img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.blog-post .meta {
  display: none;
}

/* FORM */

form#contact {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
}

button {
  align-self: center;
  width: fit-content;
  padding: var(--space-s) var(--space-m);
  border: 1px solid currentColor;
  border-radius: var(--space-s);
}

table {
  width: 100%;
  margin-block: var(--space-l);
}

table caption {
  margin-block: var(--space-m);
  color: var(--color-primary);
}

tr {
  border-block: 1px solid currentColor;
}

td,
th {
  padding: var(--space-s);
}

@media (max-width: 30rem) {
  .related article {
    width: 100%;
  }

  :is(.instructor, .event .intro) img {
    width: 100%;
    margin-right: unset;
    float: none;
  }

  .events .event-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 56rem) {
  body > header,
  body > footer {
    justify-content: space-around;
  }

  main:is(.testimonials, .blog) .content {
    --width-content: var(--content-width-narrow);
  }

  main:is(.testimonials, .blog) .content {
    grid-template-columns: 1fr;
  }
}

@media (min-height: 50rem) {
  .slide img {
    max-height: calc(100svh - var(--header-height) - var(--title-height) - var(--space-xl));
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
    scroll-padding-top: var(--space-l);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
