@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-bg: hsl(0 0% 7%);
  --color-text: hsl(0 0% 93%);
  --color-link: hsl(200 90% 70%);
  --color-primary: hsl(10 79.7% 59.4%);
  --color-primary-hover: hsl(10 79.7% 59.4% / 70%);
  --color-secondary: hsl(221 25.3% 80%);

  --font-body: 'Josefin Sans', sans-serif;
  --font-header: 'Cormorant Garamond', serif;

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;

  --width-content: 80ch;
  --width-full: 100ch;
}

/* RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  content-visibility: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* MAIN LAYOUT */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.main-header,
.main-footer,
h1,
.content,
.related {
  max-width: var(--width, var(--width-content));
  margin: 0 auto;
  padding: var(--space-m);
}

.main-header,
.main-footer,
.testimonials,
.blog {
  --width: var(--width-full);
}

/* COLORS AND TYPOGRAPHY */

body {
  quotes: "\201c" "\201d";
  background-image: linear-gradient(
    to left top,
    hsl(349 89.5% 33.7%),
    hsl(244 57.6% 39.8%)
  );
  color: var(--color-text);
  font-family: var(--font-body), sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

h1 {
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: 2.5em;
  text-align: center;
}

h2,
h3,
summary {
  color: var(--color-primary);
}

h2 small {
  color: var(--color-text);
  font-style: italic;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-primary);
}

p,
li {
  line-height: 1.5;
}

/* HEADER AND FOOTER */

.main-header,
.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: var(--space-m) var(--space-l);
  font-size: 0.8em;
}

body > footer {
  background-color: var(--color-secondary);
  color: var(--color-bg);
}

/* NAVBARS */

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding: var(--space-s) var(--space-s);
  line-height: 1;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
}

#top-nav {
  display: flex;
}

#top-nav :where(li:hover, li.active) a {
  color: var(--color-bg);
}

#top-nav ul.level1 {
  --item-height: 2.5rem;

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--space-xs);
}

#top-nav ul.level1 > li {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: max-content;
  height: var(--item-height);
  border-radius: var(--space-xs);
}

#top-nav ul.level1 > li:hover {
  background-color: var(--color-primary-hover);
}

#top-nav ul.level1 > li.active {
  background-color: var(--color-primary);
}

#top-nav ul.level1 > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

#top-nav ul.level2 {
  display: none;
  position: absolute;
  z-index: 2;
  top: var(--item-height);
  left: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  white-space: nowrap;
}

#top-nav li:hover ul.level2 {
  display: unset;
}

#top-nav ul.level2 li {
  font-size: 95%;
}

#top-nav ul.level2 a:hover {
  color: var(--color-primary);
}

ul.alternatives {
  display: inline-flex;
  flex-basis: 100%;
  justify-content: end;
  margin: 0;
  padding: 0;
  column-gap: 1em;
  font-size: 80%;
  list-style: none;
  text-align: right;
}

/* CAROUSEL */

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.banner {
  line-height: 0;
}

.banner img,
.related img {
  width: 100%;
  aspect-ratio: 1.75;
  object-fit: cover;
}

.banner .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 40%;
  padding: 0 var(--space-m);
  background-color: hsla(0, 0%, 15%, 80%);
  color: hsl(0, 0%, 90%);
  font-size: min(4vw, 1.5em);
  text-align: center;
  text-transform: uppercase;
}

.banner a {
  color: var(--color-primary);
  text-decoration: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* IMAGES */

figure {
  margin: var(--space-m) var(--space-s);
}

figcaption {
  margin-top: var(--space-s);
  text-align: center;
}

figcaption a {
  text-decoration: none;
}

/* CUSTOM */

#logo svg path {
  fill: var(--color-text);
}

.social a {
  padding: var(--space-s) var(--space-xs);
  text-decoration: none;
}

.copyright {
  margin: 0;
  text-align: center;
}

.callout {
  color: var(--color-primary);
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
}

.sign {
  font-style: italic;
  text-align: right;
}

span.sign::before,
.sign p::before {
  content: "— ";
}

.sign p {
  margin: 0;
}

.related article {
  margin-top: var(--space-l);
}

.related h3,
.related p {
  margin: var(--space-s);
}

.related p,
.blog .post {
  font-size: 90%;
}

.instructor h2 {
  margin: 0;
}

.instructor {
  clear: both;
}

.instructor .photo,
.event .photo {
  width: min(25rem, 100%);
  margin-right: 1em;
  float: left;
}

.instructor img,
.event img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.faq + .faq {
  margin-top: var(--space-m);
}

.events li {
  list-style-type: none;
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: open-quote;
  color: var(--color-primary);
  font-size: 5em;
}

blockquote > *:first-child {
  margin-top: -3em;
}

.landing .dances,
.dances .content,
.lessons .content,
.testimonials .content,
.blog .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dances .dance,
.lessons .lesson {
  width: max(10em, 25%);
}

.dance a,
.lesson a {
  color: var(--color-primary);
  text-transform: uppercase;
}

.dance img,
.lesson img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 1px solid currentColor;
  border-radius: 50%;
}

.post img {
  width: 100%;
  aspect-ratio: 1.6;
  object-fit: cover;
}

.post .meta {
  display: none;
}

/* FORMS */

label {
  display: block;
  margin-bottom: var(--space-xs);
}

input,
textarea {
  width: 100%;
  padding: var(--space-s) var(--space-s);
  font-family: inherit;
}

button {
  margin-top: var(--space-m);
  padding: var(--space-s) var(--space-s);
}

.field {
  margin-top: var(--space-m);
}

.buttons {
  text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 36rem) {
  .related article {
    width: 48%;
  }

  .banner img {
    aspect-ratio: 2.5;
  }

  .testimonial,
  .blog .post {
    width: 45%;
  }

  .related {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
